*{margin: 0;padding: 0;text-decoration: 0;overflow: hidden;}


.background{
  background-image: url('img/bg01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
section{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.sub_title1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  letter-spacing: -0.03em;
  color: #31393B;
  height: 80px;
}
.line{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lust-script, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #31393B;
  font-size: 7em;
  height: 170px;
  text-align: center;
}
.name_box{
  margin-top: 20px;
  border: 0px solid red;
}
.row{
  width: 80%;
  height: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid red;
  flex-wrap: wrap;
}
.name{
  width: 123px;
  height: 50px;
  background-image: url('img/name_box.png');
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Noto Serif KR', serif;
  font-size: 1.1em;
  letter-spacing: 0.08em;
  color: #846746;
  margin: 3px 3px;
}
.name:hover{
  filter: drop-shadow(0px 0px 6px #846746) contrast(120%);
  font-weight: 600;
}
.sub_title2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: trajan-pro-3, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.08em;
  font-size: 2.6em;
  color: #ffffff;
  height: 80px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing: -0.1em;
  font-size: 0.9em;
  color: #ffffff;
  height: 38px;
  opacity: 80%;
}


.kenburns-bottom {
	-webkit-animation: kenburns-bottom 20s ease-out 0.5s both;
	        animation: kenburns-bottom 20s ease-out 0.5s both;
}

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
            transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
            transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
